# This is a basic workflow to help you get started with Actions

name: tests

on:
  push:
    branches: [ main, release/* ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      enable_logging:
        description: "Enable verbose logging (set ENABLE_LOGGING=1)"
        type: boolean
        default: false
        required: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: install
        run: |
          sudo apt-get install lua5.4
                
      # Runs a single command using the runners shell
      - name: test
        env:
          # ENABLE_LOGGING will be 1 only if manually dispatched with enable_logging=true; otherwise 0
          ENABLE_LOGGING: ${{ github.event.inputs.enable_logging == 'true' && '1' || '0' }}
        run: make test
